$colorBlack: #0B0A0A;
$colorBlackLight: #1E1D1D;


$colorWhite: #FFF;
$colorSelectOpen: #F8F8F8;

$colorGreyBG: #B0B5BD;
$colorGrey: #585050;

$colorInput: #DFDADA;
$colorPlaceHolder: #887C7C;

$colorBlue: #2A75DB;
$colorBlueHover: #205EB0;




$colorLightBlue: #B9D5FC;
$colorDarkCancel: #424242;







